extends layout 

block page_titre
    title Bienvenu sur le Dashboard du Back Office
block page_meta
    meta(name="description" value="Bienvenu sur le Dashboard du Back Office")
block page_contenu
    h1.text-center Back Office
    
    h2.text-center.mt-4 Ajouter un nouveau produit 
    .d-flex.justify-content-center
        form.w-50
            input(type="text" name="nom" class="mb-3 form-control" id="nom" placeholder="nom produit")
            input(type="number" name="prix" class="mb-3 form-control" id="prix" placeholder="prix produit")
            input(type="date" name="dt_creation" class="mb-3 form-control" id="dt_creation" placeholder="dt_creation")
            .mb-3.d-flex.align-items-center
                input(type="checkbox" name="isPublished" class="form-check-input me-2" id="isPublished" checked)
                label(for="isPublished") Publié l'article
            .text-center
                input(type="submit" class="btn btn-outline-primary")

    hr
    h2.text-center Catalogue
    table.table.table-striped
        thead
            tr 
                th id
                th nom
                th prix
                th dt_creation 
                th status 
                th actions 
        tbody
            each produit in catalogue 
                tr 
                    td #{produit._id} 
                    td #{produit.nom} 
                    - var prixFr = produit.prix.toFixed(2) + " € HT"
                    td #{prixFr} 
                    - var dtFr = new Date(produit.dt_creation).getDate() + "/" +  (new Date(produit.dt_creation).getMonth() + 1) + "/" + new Date(produit.dt_creation).getFullYear()
                    td #{dtFr} 
                    - var status = produit.isPublished ? "publié" : "non publié"
                    td #{status}
                    td 
                        a(href="#" class="btn btn-warning me-2 btn-sm") update 
                        a(href="#" class="btn btn-danger btn-sm") delete 
    script(src="admin.js")